@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    /* note:PageAllコンポーネントでカスタマイズすることを前提としてる */
    @apply text-4xl;
  }

  h2 {
    @apply mt-12 mb-10 pl-2 pb-1 border-l-8 border-b-2 border-purple-600 text-3xl;
  }

  h3 {
    @apply mt-8 mb-6 border-b border-purple-600 border-double text-2xl;
  }

  p {
    @apply mb-3;
  }
}

@layer utilities {
  /* テーマカラー */
  .theme-color-week {
    @apply bg-indigo-50;
  }

  .theme-color-light {
    @apply bg-indigo-100;
  }

  .theme-color-regular {
    @apply bg-indigo-300;
  }

  .theme-color-heavy {
    @apply bg-indigo-500;
  }

  .theme-color-strong {
    @apply bg-indigo-700;
  }

  /* レスポンシブ */
  .max-w-content {
    @apply max-w-screen-lg;
    @apply mx-auto;
  }

  /* ユーティリティ */
  .drop-shadow-basic {
    filter: drop-shadow(2px 2px 3px rgba(100, 100, 100, 0.3));
  }

  .drop-shadow-strong {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  }

  /* セット */
  .content-field {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    @apply bg-white;
    @apply p-8;
  }
}
